@model IEnumerable<User>
@{
    ViewData["Title"] = "Все пользователи";
}

<a asp-action="Create" class="btn">Добавить пользователя</a>
<table class="table">
    <tr>
        <td>Имя</td>
        <td>Возраст</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Age</td>
            <td>
                <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">Подробнее</a> | 
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id">Изменить</a> | 
                <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
</table>